<section class="section-quote">
    <h3 id="quote">From Vasant Wankhede</h3>

    <div class="quote-belt">
        <div class="quote-unit">
        <div class="quote-content">
            <div class="quote-quote-mark">{% include icons/icon-quote-mark.html %}</div>
            <p> 
                    I must peel of all the layers of desire to reach that ‘Emptiness’ – ‘Nothingness’.<br>Desire changes its nature, its form and drags me in the net again and again.<br>Desire puts a beautiful mask on my face and deceives me.</p>
          </div>
        </div>
    </div>
</section>