<section class="section-testimonials">

  <h3 id="testimonials">Testimonials</h3>

  <div class="testimonials-mobile-nav">
    {% for client in site.data.settings.testimonials %}
        <span class="client-button {% if forloop.first %}active-client{% endif %}"></span>
    {% endfor %}
  </div>

  <div class="testimonials-belt">
    {% for client in site.data.settings.testimonials %}
      <div class="client-unit {% if forloop.first %}active-client{% endif %}">

        <figure class="client-face">
          <img src="{{ site.github.url }}/assets/img/testimonials/{{ client.avatar }}" alt="client-face">
          <figcaption>
            <strong class="client-name">{{ client.name }}</strong>
            <em class="client-title">{{ client.title }}</em>
          </figcaption>
        </figure>

        <div class="client-content">
          <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
          {{ client.quote }}
        </div>
      </div>
    {% endfor %}

  </div>

  <div class="client-controls">
    <div class="client-control-next">{% include icons/icon-next.html %}</div>
    <div class="client-control-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <div class="testimonials-logos">
    {% for client in site.data.settings.testimonials %}
        <img class="client-logo {% if forloop.first %}active-client{% endif %}" src="{{ site.github.url }}/assets/img/testimonials/{{ client.logo }}" align="{{ client.logo }}">
    {% endfor %}
  </div>

</section>
